.btn-register, .btn-login{
    border-radius: 10px;
    @include media-breakpoint-up(md) {
        border-radius: 4px;
        font-size: 14px;
    }
}

.steps{
    position: relative;
    .card{
        border: 2pt solid $primary;
        .card-body{
            color: $primary;
            font-size: 8px;
            line-height: 12px;
            text-align: center;
            padding-left: 2px;
            padding-right: 2px;
        }
    }
    .next-1{
        position: absolute;
        bottom: -8%;
        left: 100px;
        img{
            width: 30%;
        }
    }
    .next-2{
        position: absolute;
        top: -8%;
        left: 234px;
        img{
            width: 30%;
        }
    }
}

.informasi{
    font-size: 9px;
    @include media-breakpoint-up(md) {
        font-size: 16px;
    }
    color: $primary;
    .btn-informasi{
        color: #fff;
        font-size: 9px;
        padding: 0px 4px;
        border-radius: 2px;
        font-weight: 700;
        @include media-breakpoint-up(md) {
            font-size: 16px;
        }
        &:hover{
            box-shadow: none !important;
        }
    }
}

.action-upload{
    text-align: center;
}


.leaderboard{
    padding: 6px 8px;
    .table-responsive{
        max-height: 240px !important;
        margin-bottom: 6px !important;
        .table-leaderboard{
            font-size: 9px !important;
            tr{
                th{
                    padding: 4px 10px !important;
                    border: 4px #fff solid;
                }
            }
        }
    }
    .icon-white{
        position: absolute;
        bottom: -20px;
        @include media-breakpoint-up(md) {
            left: -50px;
        }
        left: -45px;
        width: 100%;
        img{
            @include media-breakpoint-up(md) {
                width: 120px;
            }
            width: 100px;
        }
    }
    .icon-blue{
        position: absolute;
        bottom: -20px;
        width: 100%;
        @include media-breakpoint-up(md) {
            right: -490px;
        }
        right: -255px;
        img{
            @include media-breakpoint-up(md) {
                width: 70px;
            }
            width: 60px;
        }
    }
}

.upload{
    padding: 6px 4px;
    .header-popup{
        position: absolute;
        top: -24px;
        z-index: 2;
        text-align: center;
    }
    .card-body{
        padding-top: 0px;
        padding-bottom: 0px;
        .smax-wrapper{
            text-align: center;
            .smax{
                margin-top: 48px;
                @include media-breakpoint-up(md) {
                    margin-top: 100px;
                }
            }
        }
    }
    .starmoly{
        font-size: 9px;
        font-weight: 700;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
}

.ayo{
    width: 94%;
    @include media-breakpoint-up(md) {
        width: 80%;
     }
}
.kamu{
    width: 94%;
    @include media-breakpoint-up(md) {
        width: 50%;
     }
}
